
<aside class="w-64" aria-label="Sidebar">
   <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <ul class="space-y-2">
         <li>
            <b href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <svg aria-hidden="true" class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
               <span class="ml-3">Filters</span>
            </b>
         </li>
         <li>
            <h1 class="font-medium leading-tight text-xl mt-0 mb-2">Filter by Price</h1>
            <%= form_with url: "/search/index", method: :get, :remote=>:true, data: {turbo_frame: :search_field} do |form|%>
            <%= form.label :minprice, "minprice:", class:"block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= form.text_field :minprice, class:"block p-2 w-20 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            <%= form.label :maxprice, "maxprice:",  class:"block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= form.text_field :maxprice, class:"block p-2 w-20 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            <br>
            <%= form.hidden_field :search_text, :value => params[:search_text] %>
            <%= form.submit "Search", class:"bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded my-3" %>
            
            <% end %>
        </li>

         
      </ul>
   </div>
</aside>
