<div class="max-w-sm rounded overflow-hidden shadow-lg" id="<%= dom_id product %>">
  <%if product.image.attached? %>
  <%= image_tag product.image, style: "width: 200px", class: "rounded-square"%>
  <%else%>
    <%= image_tag("https://www.seekpng.com/png/detail/304-3048401_product-relationship-manager-product-life-cycle-icon.png", {:style => "width:200px;", :class => "rounded-square"}) %>

  <%end%>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= product.brand %><%= product.name %></div>
    <p class="text-gray-700 text-base">
      <%= product.description %>
    </p>
      <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Show this product", product %></span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Edit this product", edit_product_path(product), data:{turbo_frame: "modal"} %> </span>
  </div>
</div>


    
