<!DOCTYPE html>
<html>
  <head>
    <title>Flipkart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> %>
<!-- JavaScript Bundle with Popper -->
<%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
        <%= render "shared/navbar"%>
        
        <div class="inline-block py-4 px-8 no-underline">
            <div class="grid grid-cols-8 gap-4">
                 <div class="col-span-4">
                      <%= turbo_frame_tag :modal %>
                      <%= yield %>
                </div>
                <div></div>
                <div class="col-end-7 col-span-2">
                      <%= render partial: "layouts/searchform"%>
                      <div id="search_results"></div>
                </div>
            </div>
        </div>
  </body>
</html>
